# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

___Objectives:___
* popular languages used in data science are SQL, PYTHON,R
* some commonly used libraries used by data scientists are Numpy, Pandas,Scikit learn
* some commonly used data science tools are Jupyter notebook,Tableau, Excel.

### Some of the popular languages that Data Scientists use are:
1. SQL
2. python
3. R

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. scikit learn

| Data Science Tools|
| --- |
| Jupyter Notebook |
| Tableau |
| Excel |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Author <br>
Tharun Pasham